<md-dialog aria-label="Add new user" ng-cloak>
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>User Name</label>
                        <input ng-model="user.userName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="user.firstName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="user.lastName">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
    <md-button class="md-raised" ng-click="addNewUser()">Save</md-button>
</md-dialog>