<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/md-data-table.css" rel="stylesheet" type="text/css"/>
    <link href="webjars/angular-material/1.0.2/angular-material.css" rel="stylesheet" type="text/css"/>
    <script src="webjars/angular/1.4.8/angular.js"></script>
    <script src="webjars/angular-material/1.0.2/angular-material.js"></script>
    <script src="js/md-data-table.js"></script>
    <script src="webjars/angular-animate/1.4.8/angular-animate.js"></script>
    <script src="webjars/angular-aria/1.4.8/angular-aria.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="app">
<div ng-controller="UserController">

    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Users</span>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table>
            <thead md-head md-on-reorder="onReorder">
            <tr md-row>
                <th md-column md-order-by="id"><span>User Id</span></th>
                <th md-column md-order-by="userName"><span>User Name</span></th>
                <th md-column md-order-by="firstName">First Name</th>
                <th md-column md-order-by="lastName">Last Name</th>
                <th md-column>Action</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="user in usersList">
                <td md-cell>{{user.id}}</td>
                <td md-cell>{{user.userName}}</td>
                <td md-cell>{{user.firstName}}</td>
                <td md-cell>{{user.lastName}}</td>
                <td md-cell>
                    <md-button class="md-raised" ng-click="updateUser(user)">Update user</md-button>
                    <md-button class="md-raised" ng-click="deleteUser(user)">Delete user</md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.pageSize" md-page="query.page" md-total="{{userCount}}"
                         md-on-paginate="onPaginate" md-page-select></md-table-pagination>
    <md-button class="md-raised" ng-click="addNewUser()">Add new user</md-button>
</div>
<script src="js/UserController.js"></script>
<script src="js/UserDialogController.js"></script>
</body>
</html>